<ul class="menu">
    <li>
        <a href="{% url 'main' %}">
            на сайт
        </a>
    </li>
    <li>
        <a href="{% url 'admin:users' %}"
           class="{% if request.resolver_match.url_name == 'users' %}
                active
                 {% endif %}">
            пользователи
        </a>
    </li>
    <li>
        <a href="{% url 'admin:countries' %}"
           class="{% if request.resolver_match.url_name == 'countries' or country.name %}
                active
              {% endif %}">
            страны
            {% if country %}
                :<span>{{ country.name }}</span>
            {% endif %}
        </a>
    </li>
</ul>