{% extends 'basketapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <button class="btn btn-outline-secondary">
            <a style="color: black; text-decoration: none" href="{% url 'main' %}">
                на главную
            </a>
        </button>
        <div class="basket_list mt-4">
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>
        <div class="foot mt-4">
            {% include 'basketapp/includes/inc_footer.html' %}
        </div>


    </div>
{% endblock %}