asgiref==3.5.2
astroid==2.11.5
dill==0.3.5.1
Django==4.0.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pylint==2.13.9
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
wcwidth==0.2.5
Werkzeug==2.1.2
whitenoise==6.1.0
wrapt==1.14.1
xdot==1.2
zipp==3.8.0
