{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="product_read">
        <div class="product_name">
            Продукт
            <strong>
                {{ object.category.name|title }}
                {{ object.name|title }}
            </strong>
        </div>
        <img src="/media/{{ object.image|default:'accommodation_img/default.jpg' }}"
             alt="{{ object.name }}">
        <div class="summary">
            <b>цена</b>
            <p>{{ object.price }} руб</p>
            <b>количество ночей</b>
            <p>{{ object.availability }}</p>
            <b>в каталоге</b>
            <p>{% if object.is_active %}да{% else %}нет{% endif %}</p>
            <p>
                <button>
                    <a href="{% url 'admin:accommodation_update' object.pk %}">
                        редактировать
                    </a>
                </button>
            </p>
            <p>
                <button>
                    <a href="{% url 'admin:accommodation_delete' object.pk %}">
                        удалить
                    </a>
                </button>
            </p>
            <p>
                <button>
                    <a href="{% url 'admin:accommodations' object.country.pk %}">
                        назад
                    </a>
                </button>
            </p>
        </div>
    <div class="product_desc">
        <b>краткая информация</b>
        <p>{{ object.short_desc }}</p>
        <br><br>
        <b>подробная информация</b>
        <p>{{ object.short_desc }}</p>
    </div>
    </div>
{% endblock %}