{% extends 'adminapp/base.html' %}
{% load static %}
{% load tagz %}

{% block content %}
    <div class="products_list">
        <button class="new_product">
            <a href="{% url 'admin:accommodation_create' country.pk %}">
                новый продукт
            </a>
        </button>

        {% for object in objects %}
            <div class="product_record {% if not object.is_active %}not_active{% endif %}">
                <img
                        src="{{ object.image | media_acc }}"
                        alt="{{ object.name }}">
                <div class="product_name">
                    {{ object.name|title }}
                </div>
                <div class="product_actions">
                    <button>
                        <a href="{% url 'admin:accommodation_read' object.pk %}">
                            подробнее
                        </a>
                    </button>
                    <button>
                        <a href="{% url 'admin:accommodation_update' object.pk %}">
                            редактировать
                        </a>
                    </button>
                    <button>
                        <a href="{% url 'admin:accommodation_delete' object.pk %}">
                            удалить
                        </a>
                    </button>
                </div>
                <div class="summary">
                    <b>цена</b>
                    <p>{{ object.price }} руб</p>
                    <b>количество</b>
                    <p>{{ object.availability }}</p>
                </div>
                <div class="product_desc">
                    {{ object.short_desc|title }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}