{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить страну <strong>
        {{ country_to_delete.name }}</strong>?
        <form action="{% url 'admin:country_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:countries' %}">отмена</a>
        </button>
    </div>
{% endblock %}