{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="categories_list">
    <button class="new_category">
      <a href="{% url 'admin:country_create' %}">
        новая страна
      </a>
    </button>
		
    {% for object in objects %}
      <div class="country_record {% if not object.is_active %}not_active{% endif %}"
      {% if not object.is_active %}
          not_active
      {% endif %}>
        <div class="category_name">
          {{ object.name|title }}
        </div>
        <div class="category_actions">
          <button>
            <a href="{% url 'admin:accommodations' object.pk %}">
              размещения
            </a>
          </button>
          <button>
            <a href="{% url 'admin:country_update' object.pk %}">
              редактировать
            </a>
          </button>
          <button>
            <a href="{% url 'admin:country_delete' object.pk %}">
              удалить
            </a>
          </button>
        </div>
        <div class="category_desc">
          {{ object.description|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}