{% if object.status == 'FM' %}

    <button class="btn btn-warning btn-round form-control last">
        <a href="{% url 'ordersapp:order_forming_complete' object.pk %}">
            совершить покупку
        </a>
    </button>
    <button class="btn btn-default btn-round form-control last">
        <a href="{% url 'ordersapp:order_delete' object.pk %}">удалить</a>
    </button>
{% endif %}
<button class="btn btn-info btn-round form-control last">
    <a href="{% url 'ordersapp:orders_list' %}">
        к списку заказов
    </a>
</button>
<button class="btn btn-default btn-round form-control last">
    <a href="{% url 'main' %}">на главную</a>
</button>