{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="media ">
            <img src="/media/{{ accommodation.image }}"
                 class="img-fluid mt-2 col-lg-offset-4" alt="Responsive image"
                 style="height: 300px">
            <div class="ml-1 container-fluid">
                <div class="align-content-lg-between text-center">
                    <h1 class="mt-3 ml-3">{{ accommodation.name|title }}</h1>
                    <br>
                    <p>месторасположение: {{ accommodation.region|title }}</p>
                    <br>
                    <p>стоимость за сутки: {{ accommodation.price }}</p>
                    <br><br><br><br>
                </div>
                <div class="float-right">
                    <button class="btn  btn-danger ">
                        <a style="color: white; text-decoration: none"
                           href="{% url 'basket:add' accommodation.pk %}">Забронировать</a>
                    </button>
                </div>
            </div>

        </div>
        <div class="mt-3">
            <h3>Описание</h3>
            {{ accommodation.description|title }}
        </div>
    </div>

{% endblock %}